{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/fireworks.css' %}"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <title>Gülhan Asya Yıldırım</title>
</head>


<body>

    <header>
        <img src="/static/img/asya3.png" class="rounded mx-auto d-block" alt="Asya">
        <h1>İyi ki Doğdun Asya</h1>
        <p>Zeki ve güzel psikolog nice güzel mutlu senelere ...</p> 
        <!-- <div class="firework"></div>
        <div class="firework"></div>
        <div class="firework"></div>
    
        <div class="firework"></div>
        <div class="firework"></div>
        <div class="firework"></div>
    
        <div class="firework"></div>
        <div class="firework"></div>
        <div class="firework"></div> -->
    </header>


    <main>
        <!-- Eklenen girdileri listeleyin -->
        {% for entry in entries %}
            <div class="row row-cols-2 row-cols-md-2 g-4">
                <div class="col-md-1">
                    <!-- <img src="/static/img/asya1.png" class="rounded mx-auto d-block" alt="Asya"> -->
                    <!-- <div style="width:100%;height:0;padding-bottom:100%;position:relative;">
                        <iframe src="https://giphy.com/embed/XBYgkYhFRuNGHLvEEN" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen sandbox="allow-scripts allow-same-origin"></iframe>
                    </div> -->
                    <!-- seçilen gif burdaa görüntülenecek -->
                    <div class="gif-container">
                        <img src="{{entry.selected_gif}}" alt="GIF" class="img-fluid" style="width: 150; height: 150; object-fit:cover;">
                    </div>

                </div>
                <div class="col-md-11">
                    <div class="card border-primary mb-3" style ="background-color: rgba(146, 129, 129, 0.226);" >
                        <div class="card-body text-primary">
                            <h5 class="card-header">{{ entry.name }}</h5>
                            <p class="card-text">{{ entry.text }}</p>
                            
                            <!-- Silme Butonu -->
                            <form method="post" action="{% url 'delete_entry_by_name' entry.name %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        
        {% endfor %}


        <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">+</button>
        
        <div class="container">
            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" >
                <div class="offcanvas-header">

                    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Doğum günü mesajınızı ekleyin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

                </div>
                <div class="offcanvas-body small">
                    <div class="row">
                        <div class="col">
                            <form method="post" action="{% url 'home' %}" class="mb-3">
                                {% csrf_token %}

                                {% if form.errors %}
                                <div class="alert alert-danger">
                                    <strong>Hata!</strong> Lütfen formu doğru bir şekilde doldurunuz.
                                </div>
                                {% endif %}
                            
<!-- form ekleme kısmı -->
                                <div class="form-group mb-3">
                                    <label for="{{ form.name.id_for_label }}">İsim</label>
                                    <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" placeholder="İsminiz" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="{{ form.text.id_for_label }}">Mesajınız</label>
                                    <textarea class="form-control" id="{{ form.text.id_for_label }}" name="{{ form.text.name }}" placeholder="Mesajınız" required></textarea>
                                </div>

<!-- görsel seçim kısmı  -->
                                <div class="row mb-4">
                                    <!-- gif kısımlarını eklediğim yer -->
                                    <!-- raido button ekle  ve burayı düzenle  -->
                                    <div class="col">
                                        <div class="row">
                                            <div class="gif-container">
                                                <img src="/static/gifs/1.gif" alt="GIF" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="{{ form.selected_gif.name }}" id="{{ form.selected_gif.id_for_label }}" value="/static/gifs/1.gif">
                                                <label class="form-check-label" for="{{ form.selected_gif.id_for_label }}">test</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="row">
                                            <div class="gif-container">
                                                <img src="/static/gifs/2.gif" alt="GIF" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="{{ form.selected_gif.name }}" id="{{ form.selected_gif.id_for_label }}" value="/static/gifs/2.gif">
                                                <label class="form-check-label" for="{{ form.selected_gif.id_for_label }}">test</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="row">
                                            <div class="gif-container">
                                                <img src="/static/gifs/3.gif" alt="GIF" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="{{ form.selected_gif.name }}" id="{{ form.selected_gif.id_for_label }}" value="/static/gifs/2.gif">
                                                <label class="form-check-label" for="{{ form.selected_gif.id_for_label }}">test</label>
                                            </div>
                                        </div>
                                    </div>


   


       


                                </div>

                                <button type="submit" class="btn btn-outline-primary">Add Entry</button>
                            </form>
                            
                        </div>
                    </div>
                    <div class="row">

                        <p>Offcanvas içeriği buraya eklenecek.</p>
                        <!-- giflerin görüntüleneceği alan -->
                    </div>
                    <div class="row mb-4">
                        <!-- gif kısımlarını eklediğim yer -->
                        <!-- raido button ekle  ve burayı düzenle  -->
                        <div class="col">
                            <div class="row">
                                <div class="gif-container">
                                    <img src="/static/gifs/1.gif" alt="GIF" class="img-fluid">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">beni şeç lan</label>
                                </div>
                            </div>
                        </div>


                        <div class="col">
                            <div class="row">
                                <div class="gif-container">
                                    <img src="/static/gifs/1.gif" alt="GIF" class="img-fluid">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="btn-check" name="test" id="btn-check-4" autocomplete="off">
                                    <label class="btn" for="btn-check-4">Single toggle</label>
                                </div>
                            </div>
                        </div>

                        <div class="col justify-content-center">
                            <div class="row">
                                <div class="gif-container">
                                    <img src="/static/gifs/1.gif" alt="GIF" class="img-fluid">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="btn-check" name="test" id="btn-check-5" autocomplete="off">
                                    <label class="btn" for="btn-check-5">Single toggle</label>
                                </div>
                            </div>
                        </div>


                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/4.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/5.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/6.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/7.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/8.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>


                    </div>

                    <div class="row mb-4" >
                        <!-- gif kısımlarını eklediğim yer -->
                        <!-- raido button ekle  ve burayı düzenle  -->
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/1.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/2.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/3.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/4.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/5.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/6.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/7.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <div class="gif-container">
                                <img src="/static/gifs/8.gif" alt="GIF" class="img-fluid">
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        
        
        
        
        
    </main>
    <script>
        document.getElementById('add-entry-button').addEventListener('click', function() {
            var entryFormContainer = document.getElementById('entry-form-container');
            entryFormContainer.style.display = (entryFormContainer.style.display === 'none' || entryFormContainer.style.display === '') ? 'block' : 'none';
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
